<style type="text/css">
  #garage { display: none; }
  .button_place, #modify_buttons { display: inline; }
  #modify_buttons { margin-left: 10px; border: 1px solid black; }
  div { margin-left: 10px; }
  p { margin: 0; }
</style>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<%= javascript_include_tag 'scriptextual/scriptextual' %>
<script type="text/javascript">
function save_content_if_dirty()
{
  if ($('#workbench').data('id') && $('#workbench').data('content') != $('#workbench').val())
  {
    $('#workbench').data('content', $('#workbench').val());
    $('#node_' + $('#workbench').data('id')).data('content', $('#workbench').val());
    $.ajax({
      type: 'PUT',
      url: '/nodes/' + $('#workbench').data('id'),
      data: {'node[content]': $('#workbench').val()}
    });
  }
}

function setup_node(data)
{
  return $(document.createElement('p'))
    .data('content', data.content)
    .data('id', data.id)
    .data('parent_id', data.parent_id)
    .data('preliminary', data.preliminary)
    .attr('id', 'node_' + data.id)
    .css({color: 'rgb(' + data.red + ', 0, 0)'})
    .click(function() {
      handle_node_click(this);
      return false;
    })
    .dblclick(function() {
      var node_name = $(this).children('.node_name:first');
      var new_name = prompt('Change node name', node_name.text());
      if (new_name != node_name.text())
      {
        node_name.text(new_name);
        $.ajax({
          type: 'PUT',
          url: '/nodes/' + $('#workbench').data('id'),
          data: {'node[name]': new_name}
        });
      }
      return false;
    })
    .append(
      $(document.createElement('span'))
        .addClass('node_name')
        .text(data.name)
    )
    .append(
      $(document.createElement('p'))
        .addClass('button_place')
    )
    .append(
      $(document.createElement('div'))
        .attr('id', 'children_' + data.id)
    );
}

function observe_content()
{
  save_content_if_dirty();
  setTimeout('observe_content();', 10000);
}

function handle_node_click(node)
{
  save_content_if_dirty();
  $('#modify_buttons').appendTo($(node).find('.button_place:first'));
  $('#workbench')
    .val($(node).data('content'))
    .data('content', $(node).data('content'))
    .data('id', $(node).data('id'))
    .data('parent_id', $(node).data('parent_id'));
}

function build_list_from_tree(parent_node, tree)
{
  tree['preliminary'] = false;
  if (parent_node == null)
    $('#tree').children().remove();
  parent_node = $(parent_node || '#tree');
  parent_node.append(setup_node(tree));
  if (tree['children'])
  {
    for (var i = 0; i < tree.children.length; i++)
      build_list_from_tree($('#children_' + tree.id), tree.children[i]);
  }
}

function load_tree(tree_id)
{
  $.getJSON('/nodes/' + tree_id + '.json?deep=true', function(data) {
    build_list_from_tree(null, data);
  });
  $('#trees').hide();
  $('#tree, #workbench, #handle_box').appendTo($('body'));
}

$(function() {
  $('body').data('last_preliminary_id', 0);
  $('#add_sibling').click(function() {
    var preliminary_id = $('body').data('last_preliminary_id', $('body').data('last_preliminary_id') + 1).data('last_preliminary_id');
    $(setup_node({
      id: 'preliminary_' + preliminary_id,
      parent_id: $('#workbench').data('parent_id'),
      name: 'new node ' + preliminary_id,
      content: '',
      preliminary: true
    })).appendTo($('#node_' + $('#workbench').data('id')).parent());
    $.ajax({
      type: 'POST',
      url: '/nodes.js',
      data: {
        'node[preliminary_id]': preliminary_id,
        'node[name]': 'new node ' + preliminary_id,
        'node[content]': 'new content',
        'node[parent_id]': $('#workbench').data('parent_id')
      },
      success: function(response) {
        var data = eval('(' + response + ')');
        $('#node_preliminary_' + data.preliminary_id).data('id', data.id).data('preliminary', false).attr('id', 'node_' + data.id);
        $('#children_preliminary_' + data.preliminary_id).attr('id', 'children_' + data.id);
      }
    });
  });
  $('#add_child').click(function() {
    var preliminary_id = $('body').data('last_preliminary_id', $('body').data('last_preliminary_id') + 1).data('last_preliminary_id');
    $(setup_node({
      id: 'preliminary_' + preliminary_id,
      parent_id: $('#workbench').data('id'),
      name: 'new node ' + preliminary_id,
      content: '',
      preliminary: true
    })).appendTo($('#children_' + $('#workbench').data('id')));
    $.ajax({
      type: 'POST',
      url: '/nodes.js',
      data: {
        'node[preliminary_id]': preliminary_id,
        'node[name]': 'new node ' + preliminary_id,
        'node[content]': 'new content',
        'node[parent_id]': $('#workbench').data('id')
      },
      success: function(response) {
        var data = eval('(' + response + ')');
        $('#node_preliminary_' + data.preliminary_id).data('id', data.id).data('preliminary', false).attr('id', 'node_' + data.id);
        $('#children_preliminary_' + data.preliminary_id).attr('id', 'children_' + data.id);
      }
    });
  });
  $('#delete_child').click(function() {
    $.ajax({
      type: 'DELETE',
      url: '/nodes/' + $('#workbench').data('id'),
      dataType: 'json'
    });
    $('#modify_buttons').appendTo($('#garage'));
    $('#node_' + $('#workbench').data('id')).remove();
  });
  observe_content();
  init_scriptextual({workbench: 'workbench', handle_box: 'handle_box'});
});
</script>
<div id="garage">
  <ul id="tree">
  </ul>
  <textarea rows="20" cols="80" id="workbench"></textarea>
  <p id="modify_buttons">
    <a id="add_sibling">add sibling</a>
    <a id="add_child">add child</a>
    <a id="delete_child">delete node</a>
  </p>
  <div id="handle_box"></div>
</div>
<div id="trees">
<h1>Listing trees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Parent</th>
  </tr>

<% for node in @nodes %>
  <tr>
    <td><%=h node.name %></td>
    <td><%=h node.content %></td>
    <td><%=h node.parent_id %></td>
    <td><%= link_to_function 'Load', "load_tree(#{node.id});" %></td>
    <td><%= link_to 'Show', node %></td>
    <td><%= link_to 'Edit', edit_node_path(node) %></td>
    <td><%= link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New tree', new_node_path %>
</div>
